<!-- booking_data.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Data</title>
</head>
<body>
    <h1>Booking Data</h1>
    <p><strong>Name:</strong> {{ booking_data.name }}</p>
    <p><strong>Email:</strong> {{ booking_data.email }}</p>
    <p><strong>Date & Time:</strong> {{ booking_data.datetime }}</p>
    <p><strong>No Of People:</strong> {{ booking_data.people }}</p>
    <p><strong>Special Request:</strong> {{ booking_data.message }}</p>
</body>
</html>
