<!-- book_table.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Book A Table</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <div class="col-md-6 bg-dark d-flex align-items-center">
        <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
            <h5 class="section-title ff-secondary text-start text-primary fw-normal">Reservation</h5>
            <h1 class="text-white mb-4">Book A Table Online</h1>
            <form method="POST" action="{% url 'booking_data' %}">
                {% csrf_token %}
                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="form-floating">
                            {{ form.name }}
                            <label for="name">Your Name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            {{ form.email }}
                            <label for="email">Your Email</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating date" id="date3" data-target-input="nearest">
                            {{ form.datetime }}
                            <label for="datetime">Date & Time</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            {{ form.people }}
                            <label for="select1">No Of People</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            {{ form.message }}
                            <label for="message">Special Request</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary w-100 py-3" type="submit">Book Now</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
